actions: 
  - action: allocation
    description:  allocation selected indices in selected node to data_warm
    options:
      disable_action: false
      key: _tier_preference
      value: data_cold
      allocation_type: include
      delay: 20
    filters:
    - filtertype: node_role
      value: h
    - filtertype: pattern
      kind: prefix
      value: logstash-
    - filtertype: age
      source: creation_date
      direction: older
      unit: days
      unit_count: 30

  - action: delete_indices
    description: delete selected indices1
    options: 
      disable_action: false
      delay: 5
    filters:
    - filtertype: age
      source: creation_date
      direction: older
      unit: days
      unit_count: 1
    - filtertype: pattern
      kind: prefix
      value: prefixmore
    - filtertype: space
      disk_space: 2

  - action: delete_indices
    description: delete selected indices2
    options:
      disable_action: false
      delay: 5
    filters:
    - filtertype: age
      source: creation_date
      direction: older
      unit: days
      unit_count: 5
    - filtertype: pattern
      kind: prefix
      value: test_index

  - action: delete_indices
    description: delete selected indices3
    options:
      disable_action: false
      delay: 5    
    filters:
    - filtertype: space
      disk_space: 10


  - action: close
    description: close selected indices
    filters:
    options:
      disable_action: false
      delay: 5    
    - filtertype: age
      source: creation_date
      direction: older
      unit: days
      unit_count: 1
    - filtertype: pattern
      kind: prefix
      value: prefixmore

  - action: open
    description: open selected indices
    options:
      disable_action: false
      delay: 5    
    filters:
    - filtertype: age
      source: creation_date
      direction: older
      unit: days
      unit_count: 1
    - filtertype: pattern
      kind: prefix
      value: prefixmore