es:
  url: https://10.99.1.117:9200
  sourceAccount: "elastic"
  sourcePassword: "12345678"

information:
  test_mode: true
  logdir: "/Users/chen/Downloads/BiMap/es-curator/log/custom.log"
  execute_cron : true
  period: "59 11 * * *"